{{!-- Parameters:
data: {WordGeneratorApplicationData}
generatedResults: {Array<String>}
contentListPresenter: {WordGeneratorListPresenter}
--}}
<form class="wg-application-form">
  {{!-- List of generators --}}
  <div class="wg-flex column wg-content-area">
    <div class="wg-dark wg-border-shadow-b">
      <div class="wg-flex row wg-height-header">
        {{!-- Creation controls --}}
        {{!-- Create generator --}}
        <a class="wg-flex center row grow wg-border-box wg-light wg-margin-3" 
          id="create-generator"
        >
          <div class="wg-flex wg-margin-r-3 center">
            <i class="fas fa-scroll"></i>
          </div>
          <div class="wg-flex middle">
            <span>{{localize "wg.generator.create"}}</span>
          </div>
        </a>
        {{!-- Create folder --}}
        <a class="wg-flex center row grow wg-border-box wg-light wg-margin-3" 
          id="create-folder"
        >
          <div class="wg-flex wg-margin-r-3 center">
            <i class="fas fa-folder"></i>
          </div>
          <div class="wg-flex middle">
            <span>{{localize "wg.folder.create"}}</span>
          </div>
        </a>
        {{!-- Sorting controls --}}
        <a
          class="wg-square wg-flex center wg-interactible wg-border-box wg-margin-3 wg-light"
          title="{{localize "wg.generator.sortAlphaDesc"}}"
          id="move-sort-alpha-desc"
          >
          <i class="fas fa-sort-alpha-down"></i>
        </a>
        <a
          class="wg-square wg-flex center wg-interactible wg-border-box wg-margin-3 wg-light"
          title="{{localize "wg.generator.sortAlphaAsc"}}"
          id="move-sort-alpha-asc"
          >
          <i class="fas fa-sort-alpha-up"></i>
        </a>
      </div>
      <div class="wg-flex row middle wg-height-header">
        {{!-- Filter --}}
        <div class="wg-square wg-height-header wg-flex center">
          <i class="fas fa-search"></i>
        </div>
        <input id="search-generators" class="wg-light wg-border-box wg-text-align-center" type="search" name="search" value="" placeholder="{{localize "wg.generator.search"}}" autocomplete="off">
        <a id="collapse-all-folders" class="wg-square wg-height-header wg-flex center wg-interactible" title="{{localize "wg.general.collapseAll"}}"><i class="fas fa-sort-amount-up fa-fw"></i></a>
      </div>
    </div>
    {{!-- Generators and folders area --}}
    <div class="wg-scrollable wg-flex column grow"
      id="content-area-1">
      {{#with contentListPresenter.template as |template|}}
        {{> (template) presenter=../contentListPresenter }}
      {{/with}}
    </div>
  </div>
  {{!-- Spacer --}}
  {{!-- <div style="width: 1rem;"></div> --}}
  {{!-- List of generated results --}}
  <div class="wg-flex column grow wg-content-area">
    <div class="wg-flex column wg-dark wg-border-shadow-b">
      <div class="wg-flex row align-end middle wg-height-header">
        <label 
          class="wg-flex align-center" 
          for="amountToGenerate"
        >{{localize "wg.generator.generateCount"}}</label>
        <span style="width: 6px;"></span>
        <span style="width: 5rem;">
          <input 
            id="amountToGenerate" 
            type="number" 
            min="1" 
            value="{{data.amountToGenerate.value}}" 
            class="wg-light"
          />
        </span>
      </div>
      {{!-- Sorting controls --}}
      <div class="wg-flex row align-end">
        <div class="wg-flex row wg-height-header">
          <a
            class="wg-square wg-flex center wg-interactible wg-border-box wg-margin-3 wg-light"
            title="{{localize "wg.generator.sortAlphaDesc"}}"
            id="results-move-sort-alpha-desc"
            >
            <i class="fas fa-sort-alpha-down"></i>
          </a>
          <a
            class="wg-square wg-flex center wg-interactible wg-border-box wg-margin-3 wg-light"
            title="{{localize "wg.generator.sortAlphaAsc"}}"
            id="results-move-sort-alpha-asc"
            >
            <i class="fas fa-sort-alpha-up"></i>
          </a>
        </div>
      </div>
    </div>
    <ul class="wg-unstyled-list wg-scrollable"
      id="content-area-2">
      {{#each generatedResults as |generatedResult index|}}
      <div id="generated-word-{{index}}" class="wg-flex row wg-light">
        <button 
          id="word-generator-clipboard-{{index}}" 
          class="wg-square hidden" 
          type="button"
          title="{{localize "wg.general.copy.toClipboard"}}"
        >
          <i class="far fa-clipboard"></i>
        </button>
        <input 
          type="text"
          readonly="true"
          id="{{index}}"
          value="{{generatedResult}}"
          class="wg-generated-word-input"
        >
      </div>
      {{/each}}
    </ul>
  </div>
</form>