{{!-- Params:
listItemId: String
--}}
<div class="word-generator-move-controls-container">
  <div class="word-generator-move-controls">
    <button
      class="word-generator-square-button flat-v light"
      type="button"
      data-action="move-top"
      title="{{localize "wg.generator.moveTop"}}"
      data-id="{{listItemId}}"
      >
      <i class="fas fa-angle-double-up"></i>
    </button>
    <button
      class="word-generator-square-button flat-v light"
      type="button"
      data-action="move-up"
      title="{{localize "wg.generator.moveUp"}}"
      data-id="{{listItemId}}"
      >
      <i class="fas fa-angle-up"></i>
    </button>
    <span class="word-generator-flex grow"></span>
    <button
      class="word-generator-square-button flat-v light"
      type="button"
      data-action="move-down"
      title="{{localize "wg.generator.moveDown"}}"
      data-id="{{listItemId}}"
      >
      <i class="fas fa-angle-down"></i>
    </button>
    <button
      class="word-generator-square-button flat-v light"
      type="button"
      data-action="move-bottom"
      title="{{localize "wg.generator.moveBottom"}}"
      data-id="{{listItemId}}"
      >
      <i class="fas fa-angle-double-down"></i>
    </button>
  </div>
</div>