{{!-- Params:
listItem: WordGeneratorSettings
--}}
<li class="word-generator-setting-entry">
  {{!-- Move controls --}}
  {{> "modules/word-generator/template/move-controls.hbs" listItemId=listItem.id }}
  <div class="word-generator-flex flexcol grow">
    {{!-- Header Row --}}
    <div class="flexrow">
      {{!-- Delete Button --}}
      <button 
        class="word-generator-square-button danger"
        type="button" 
        id="{{listItem.id}}-delete"
        data-id="{{listItem.id}}"
        title="{{localize "wg.generator.delete"}}"
        >
        <i class="fas fa-trash"></i>
      </button>
      {{!-- Name Input --}}
      <input 
        class="word-generator-input-textfield"
        type="text"
        id="{{listItem.id}}-name"
        data-id="{{listItem.id}}"
        placeholder="{{localize "wg.generator.placeholder.name"}}"
        value="{{listItem.name}}"
      />
    </div>
    {{!-- Sample Set --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-sampleSet">
        {{localize "wg.generator.sampleSet"}}
      </label>
      <span>{{localize "wg.generator.sampleSize"}}: {{listItem.sampleSet.length}}</span>
      <button 
        class="word-generator-square-button"
        type="button" 
        id="{{listItem.id}}-edit-sample-set"
        data-id="{{listItem.id}}"
        title="{{localize "wg.sampleSet.edit"}}"
        >
        <i class="fas fa-edit"></i>
      </button>
    </div>
    {{!-- targetLengthMin --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-targetLengthMin">
        {{localize "wg.generator.targetLengthMin"}}
      </label>
      <input id="{{listItem.id}}-targetLengthMin" type="number" min="1" value="{{listItem.targetLengthMin}}" />
    </div>
    {{!-- targetLengthMax --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-targetLengthMax">
        {{localize "wg.generator.targetLengthMax"}}
      </label>
      <input id="{{listItem.id}}-targetLengthMax" type="number" min="1" value="{{listItem.targetLengthMax}}" />
    </div>
    {{!-- entropy --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-entropy">
        {{localize "wg.generator.entropy"}}
      </label>
      <input id="{{listItem.id}}-entropy" type="number" min="0" max="1" value="{{listItem.entropy}}" />
    </div>
    {{!-- entropyStart --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-entropyStart">
        {{localize "wg.generator.entropyStart"}}
      </label>
      <input id="{{listItem.id}}-entropyStart" type="number" min="0" max="1" value="{{listItem.entropyStart}}" />
    </div>
    {{!-- entropyMiddle --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-entropyMiddle">
        {{localize "wg.generator.entropyMiddle"}}
      </label>
      <input id="{{listItem.id}}-entropyMiddle" type="number" min="0" max="1" value="{{listItem.entropyMiddle}}" />
    </div>
    {{!-- entropyEnd --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-entropyEnd">
        {{localize "wg.generator.entropyEnd"}}
      </label>
      <input id="{{listItem.id}}-entropyEnd" type="number" min="0" max="1" value="{{listItem.entropyEnd}}" />
    </div>
    {{!-- endingPickMode --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-endingPickMode">
        {{localize "wg.generator.endingPickMode"}}
      </label>
      <select id="{{listItem.id}}-endingPickMode">
        <option value="0">{{localize "wg.generator.endingPickModes.none"}}</option>
        <option value="1">{{localize "wg.generator.endingPickModes.random"}}</option>
        <option value="2">{{localize "wg.generator.endingPickModes.followBranch"}}</option>
      </select>
    </div>
    {{!-- sequencingStrategy --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-sequencingStrategy">
        {{localize "wg.generator.sequencingStrategy"}}
      </label>
      <select id="{{listItem.id}}-sequencingStrategy">
        <option value="CHAR_DEPTH">{{localize "wg.generator.sequencingStrategies.charDepth"}}</option>
        <option value="DELIMITER">{{localize "wg.generator.sequencingStrategies.delimiter"}}</option>
      </select>
    </div>
    {{!-- depth --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-depth">
        {{localize "wg.generator.depth"}}
      </label>
      <input id="{{listItem.id}}-depth" type="number" min="0" max="1" value="{{listItem.depth}}" />
    </div>
    {{!-- spellingStrategy --}}
    <div class="flexrow">
      <label for="{{listItem.id}}-spellingStrategy">
        {{localize "wg.generator.spellingStrategy"}}
      </label>
      <select id="{{listItem.id}}-sequencingStrategy">
        <option value="NONE">{{localize "wg.generator.spellingStrategies.none"}}</option>
        <option value="CAPITALIZE_FIRST_LETTER">{{localize "wg.generator.spellingStrategies.capitalizeFirstLetter"}}</option>
      </select>
    </div>
  </div>
  {{!-- Generate --}}
  <div>
    <button 
      class="word-generator-square-button fill-h"
      type="button" 
      id="{{listItem.id}}-generate"
      data-id="{{listItem.id}}"
      title="{{localize "wg.generator.generate"}}"
      >
      <i class="fas fa-pen-nib"></i>
    </button>
  </div>
</li>