{{!-- Parameters:
settings: {Array<WordGeneratorSettings>}
generatedWords: {Array<String>}
sequencingStrategies: Array<DropDownOption>
spellingStrategies: Array<DropDownOption>
--}}
<form class="word-generator-application-form">
  {{!-- List of generators --}}
  <div class="word-generator-flex column scrollable">
    <div class="word-generator-controls-bar word-generator-flex row">
      {{!-- Creation control --}}
      <a class="flex flex-middle" 
        id="create-generator"
      >
        <div class="word-generator-square-button light flex flex-center">
          <i class="fas fa-plus"></i>
        </div>
        <span>{{localize "wg.generator.create"}}</span>
      </a>
      <div class="word-generator-flex-grow"></div>
      {{!-- Spacer --}}
      <div class="word-generator-flex grow"></div>
      {{!-- Sorting controls --}}
      <button
        class="word-generator-square-button light"
        type="button"
        title="{{localize "wg.generator.sortAlphaDesc"}}"
        id="move-sort-alpha-desc"
        >
        <i class="fas fa-sort-alpha-down"></i>
      </button>
      <button
        class="word-generator-square-button light"
        type="button"
        title="{{localize "wg.generator.sortAlphaAsc"}}"
        id="move-sort-alpha-asc"
        >
        <i class="fas fa-sort-alpha-up"></i>
      </button>
    </div>
    <ul class="word-generator-unstyled-list">
      {{#each settings as |setting index|}}
        {{> "modules/word-generator/template/word-generator-list-item.hbs" 
          listItem=setting 
          sequencingStrategies=../sequencingStrategies 
          spellingStrategies=../spellingStrategies
        }}
      {{/each}}
    </ul>
  </div>
  {{!-- Spacer --}}
  {{!-- <div style="width: 1rem;"></div> --}}
  {{!-- List of generated results --}}
  <div class="word-generator-flex column grow scrollable">
    <ul class="word-generator-unstyled-list">
      {{#each generatedWords as |generatedWord index|}}
      <div id="generated-word-{{index}}" class="word-generator-flex row word-generator-generated-word">
        <button 
          id="word-generator-clipboard-{{index}}" 
          class="word-generator-square-button hidden" 
          type="button"
          title="{{localize "wg.copy.toClipboard"}}"
        >
          <i class="far fa-clipboard"></i>
        </button>
        <input 
          type="text"
          readonly="true"
          id="{{index}}"
          value="{{generatedWord}}"
          class="word-generator-generated-word-input"
        >
      </div>
      {{/each}}
    </ul>
  </div>
</form>