{{!-- Parameters:
settings: {Array<GeneratorSettings>}
cssClass: {undefined | String}
--}}
<form class="{{cssClass}}">
  <div>
    <button type="button" data-action="create">
      <i class="fas fa-plus"></i>{{localize "wg.generator.create"}}
    </button>
  </div>
  <ul class="word-generator-unstyled-list">
    {{#each settings as |setting index|}}
      <li class="word-generator-setting-entry">
        <button 
          type="button" 
          data-action="delete" 
          data-id="{{setting.id}}"
          title="{{localize "wg.generator.delete"}}"
          >
          <i class="fas fa-edit"></i>
        </button>
        <div class="flexcol">
          <input 
            class="word-generator-input-textfield"
            type="text"
            id="{{setting.id}}"
            placeholder="{{localize "wg.generator.placeholder.name"}}"
            value="{{setting.name}}"
          />
          <div class="flexcol">
            <div class="flexrow">
              <label for="{{setting.id}}-targetLengthMin">
                {{localize "wg.generator.targetLengthMin"}}
              </label>
              <input id="{{setting.id}}-targetLengthMin" type="number" min="1" value="1" />
            </div>
          </div>
        </div>
        <div class="flexrow">
          <button 
            type="button" 
            data-action="edit-sample-set" 
            data-id="{{setting.id}}"
            title="{{localize "wg.sampleSet.edit"}}"
            >
            <i class="fas fa-edit"></i>
          </button>
          <button 
            type="button" 
            data-action="generate" 
            data-id="{{setting.id}}"
            title="{{localize "wg.generator.generate"}}"
            >
            <i class="fas fa-pen-nib"></i>
          </button>
        </div>
      </li>
    {{/each}}
  </ul>
</form>