{{!-- Params:
TEMPLATES: TEMPLATES
presenter: WordGeneratorFolderPresenter
--}}
<div class="wg-folder wg-flex column grow"
  id="{{presenter.id}}"
  >
  <header class="wg-folder wg-flex row grow wg-dark wg-padding-3 wg-height-header{{#if presenter.isExpanded}} open{{/if}}"
    id="{{presenter.id}}-header"
    draggable="true"
    >
    {{!-- Identity --}}
    <h3 class="wg-flex grow">
      {{!-- Icon --}}
      <div class="wg-square wg-flex center">
        {{#if presenter.isExpanded}}
        <i class="fas fa-folder-open"></i>
        {{else}}
        <i class="fas fa-folder"></i>
        {{/if}}
      </div>
      {{!-- Name --}}
      <span class="wg-flex middle grow wg-margin-l-6">{{presenter.name}}</span>
    </h3>
    {{!-- Quick Actions --}}
    <div class="wg-flex row wg-height-header">
      <a class="wg-square wg-flex center wg-interactible" 
        id="{{presenter.id}}-add-generator">
        <i class="fas fa-scroll stackable">
          <i class="fas fa-plus stacked wg-dark"></i>
        </i>
      </a>
      <a class="wg-square wg-flex center wg-interactible" 
        id="{{presenter.id}}-add-folder">
        <i class="fas fa-folder stackable">
          <i class="fas fa-plus stacked wg-dark"></i>
        </i>
      </a>
    </div>
  </header>
  {{#if presenter.isExpanded}}
  <div class="wg-folder-content">
    {{#with presenter.contentListPresenter.template as |template|}}
      {{> (template) presenter=../presenter.contentListPresenter TEMPLATES=../TEMPLATES }}
    {{/with}}
  </div>
  {{/if}}
</div>