{{!-- Params:
presenter: WordGeneratorFolderPresenter
--}}
<div class="wg-folder"
  id="{{presenter.id}}"
  >
  <header class="wg-folder word-generator-flex row wg-dark wg-pad-6{{#if presenter.isExpanded}} open{{/if}}"
    id="{{presenter.id}}-header"
    draggable="true"
    >
    <h3 class="word-generator-flex grow">
      <div class="wg-square word-generator-flex center">
        {{#if presenter.isExpanded}}
        <i class="fas fa-folder-open"></i>
        {{else}}
        <i class="fas fa-folder"></i>
        {{/if}}
      </div>
      <span class="word-generator-flex middle grow">{{presenter.name}}</span>
    </h3>
    <div class="wg-square word-generator-flex center">
      <a class="wg-interactible wg-pad-6" 
        id="{{presenter.id}}-add-generator">
        <i class="fas fa-scroll stackable">
          <i class="fas fa-plus stacked wg-dark"></i>
        </i>
      </a>
    </div>
    <div class="wg-square word-generator-flex center">
      <a class="wg-interactible wg-pad-6" 
        id="{{presenter.id}}-add-folder">
        <i class="fas fa-folder stackable">
          <i class="fas fa-plus stacked wg-dark"></i>
        </i>
      </a>
    </div>
  </header>
  {{#if presenter.isExpanded}}
  <div class="wg-folder-content">
    {{#with presenter.contentListPresenter.template as |template|}}
      {{> (template) presenter=../presenter.contentListPresenter }}
    {{/with}}
  </div>
  {{/if}}
</div>