{{!-- Parameters:
sampleSet: String
sampleSetSeparator: String
--}}
<section class="word-generator-flex column">
  {{!-- Separator --}}
  <div class="word-generator-flex row">
    <label for="sampleSetSeparator">
      {{localize "wg.generator.sampleSet.separator"}}
    </label>
    <input id="sampleSetSeparator" type="text" value="{{sampleSetSeparator}}" />
  </div>
  {{!-- Sample Set --}}
  <textarea class="word-generator-sampleset word-generator-flex grow" id="sampleset">{{sampleSet}}</textarea>
  {{!-- Buttons --}}
  <div class="word-generator-flex row">
    <div class="word-generator-flex grow"></div>
    <button class="word-generator-button" id="confirm" type="button">{{localize "wg.general.save"}}</button>
    <button class="word-generator-button" id="cancel" type="button">{{localize "wg.general.cancel"}}</button>
  </div>
</section>