{{!-- Params:
presenter: WordGeneratorItemPresenter
--}}
<div class="wg-generator-item"
  id="{{presenter.id}}"
  >
  <header class="wg-generator-item wg-flex row wg-dark wg-padding-6{{#if presenter.isExpanded}} open{{/if}}"
    id="{{presenter.id}}-header"
    draggable="true"
    >
    {{!-- Move Controls --}}
    <div class="wg-flex column center wg-padding-l-2">
      <a class="wg-square wg-flex center wg-padding-t-3 wg-padding-b-1 wg-interactible{{#if presenter.disableMoveUp}} disabled{{/if}}"
        id="{{presenter.id}}-move-up">
        <i class="fas fa-angle-up"></i>
      </a>
      <a class="wg-square wg-flex center wg-padding-t-1 wg-padding-b-3 wg-interactible{{#if presenter.disableMoveDown}} disabled{{/if}}"
        id="{{presenter.id}}-move-down">
        <i class="fas fa-angle-down"></i>
      </a>
    </div>
    {{!-- Identity --}}
    <h3 class="wg-flex grow">
      {{!-- Icon --}}
      <div class="wg-square wg-flex center">
        <i class="fas fa-scroll stackable">
        {{#if presenter.isExpanded}}{{else}}
          <i class="fas fa-bars stacked wg-dark"></i>
        {{/if}}
        </i>
      </div>
      {{!-- Name --}}
      <span class="wg-flex middle grow wg-margin-l-6">{{presenter.name}}</span>
    </h3>
    {{!-- Quick Actions --}}
    <div class="wg-square wg-flex center">
      <a class="wg-interactible wg-padding-6" 
        id="{{presenter.id}}-generate">
        <i class="fas fa-pen-nib"></i>
      </a>
    </div>
  </header>
  {{#if presenter.isExpanded}}
  <div class="wg-flex column wg-generator-item-content">
    {{!-- Sample Set --}}
    <div class="wg-grid-2 gap-2 wg-border-box wg-margin-t-3 wg-margin-b-3 wg-dark">
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-sample-set-strategy" 
          class="wg-flex grow wg-padding-l-6">{{localize "wg.generator.sampleSet.strategy"}}</label>
        <i class="far fa-question-circle wg-square wg-padding-6" id="{{presenter.id}}-sample-set-strategy-info"></i>
      </div>
      <select id="{{presenter.id}}-sample-set-strategy">
        {{#each presenter.sampleSetStrategyOptions as |strategy index|}}
        <option value="{{strategy.value}}">{{strategy.localizedTitle}}</option>
        {{/each}}
      </select>
    </div>
    <div class="wg-grid-2 gap-2">

    </div>
  </div>
  {{/if}}
</div>