{{!-- Params:
presenter: WordGeneratorItemPresenter
--}}
<div class="wg-generator-item"
  id="{{presenter.id}}"
  >
  <header class="wg-generator-item wg-flex row wg-dark wg-padding-6{{#if presenter.isExpanded}} open{{/if}}"
    id="{{presenter.id}}-header"
    draggable="true"
    >
    {{!-- Move Controls --}}
    <div class="wg-flex column center wg-padding-l-2">
      <a class="wg-square wg-flex center wg-padding-t-3 wg-padding-b-1 wg-interactible{{#if presenter.disableMoveUp}} disabled{{/if}}"
        id="{{presenter.id}}-move-up">
        <i class="fas fa-angle-up"></i>
      </a>
      <a class="wg-square wg-flex center wg-padding-t-1 wg-padding-b-3 wg-interactible{{#if presenter.disableMoveDown}} disabled{{/if}}"
        id="{{presenter.id}}-move-down">
        <i class="fas fa-angle-down"></i>
      </a>
    </div>
    {{!-- Identity --}}
    <h3 class="wg-flex grow">
      {{!-- Icon --}}
      <div class="wg-square wg-flex center">
        <i class="fas fa-scroll stackable">
        {{#if presenter.isExpanded}}{{else}}
          <i class="fas fa-bars stacked wg-dark"></i>
        {{/if}}
        </i>
      </div>
      {{!-- Name --}}
      <span class="wg-flex middle grow wg-margin-l-6">{{presenter.name}}</span>
    </h3>
    {{!-- Quick Actions --}}
    <div class="wg-square wg-flex center">
      <a class="wg-interactible wg-padding-6" 
        id="{{presenter.id}}-generate">
        <i class="fas fa-pen-nib"></i>
      </a>
    </div>
  </header>
  {{#if presenter.isExpanded}}
  <div class="wg-flex column wg-generator-item-content wg-dark">
    {{!-- Sample Set --}}
    {{#with presenter.sampleSetStrategyPresenter.template as |template| }}
      {{> (template) presenter=../presenter.sampleSetStrategyPresenter }}
    {{/with}}
    <div class="wg-grid-2 gap-2 wg-padding-l-6">
      {{!-- targetLengthMin --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-target-length-min" class="wg-flex grow">{{localize "wg.generator.targetLength.min"}}</label>
        <i id="{{presenter.id}}-target-length-min-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-target-length-min" type="number" min="1" value="{{presenter.entity.targetLengthMin.value}}" class="wg-light" />
      {{!-- targetLengthMax --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-target-length-max" class="wg-flex grow">{{localize "wg.generator.targetLength.max"}}</label>
        <i id="{{presenter.id}}-target-length-max-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-target-length-max" type="number" min="1" value="{{presenter.entity.targetLengthMax.value}}" class="wg-light" />
      {{!-- entropy --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-entropy" class="wg-flex grow">{{localize "wg.generator.entropy.label"}}</label>
        <i id="{{presenter.id}}-entropy-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-entropy" type="number" min="1" value="{{presenter.entity.entropy.value}}" class="wg-light" />
      {{!-- entropyStart --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-entropy-start" class="wg-flex grow">{{localize "wg.generator.entropy.start.label"}}</label>
        <i id="{{presenter.id}}-entropy-start-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-entropy-start" type="number" min="1" value="{{presenter.entity.entropyStart.value}}" class="wg-light" />
      {{!-- entropyMiddle --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-entropy-middle" class="wg-flex grow">{{localize "wg.generator.entropy.middle.label"}}</label>
        <i id="{{presenter.id}}-entropy-middle-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-entropy-middle" type="number" min="1" value="{{presenter.entity.entropyMiddle.value}}" class="wg-light" />
      {{!-- entropyEnd --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-entropy-end" class="wg-flex grow">{{localize "wg.generator.entropy.end.label"}}</label>
        <i id="{{presenter.id}}-entropy-end-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-entropy-end" type="number" min="1" value="{{presenter.entity.entropyEnd.value}}" class="wg-light" />
      {{!-- endingPickMode --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-ending-pick-mode" class="wg-flex grow">{{localize "wg.generator.endingPickMode.label"}}</label>
        <i id="{{presenter.id}}-ending-pick-mode-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <select id="{{presenter.entity.id}}-ending-pick-mode" class="wg-light" style="margin-right: 2px">
        <option value="0">{{localize "wg.generator.endingPickModes.none"}}</option>
        <option value="1">{{localize "wg.generator.endingPickModes.random"}}</option>
        <option value="2">{{localize "wg.generator.endingPickModes.followBranch"}}</option>
      </select>
      {{!-- seed --}}
      <div class="wg-flex middle">
        <label for="{{presenter.id}}-seed" class="wg-flex grow">{{localize "wg.generator.seed.label"}}</label>
        <i id="{{presenter.id}}-seed-info" class="far fa-question-circle wg-square wg-padding-6"></i>
      </div>
      <input id="{{presenter.id}}-seed" type="number" min="1" value="{{presenter.entity.seed.value}}" class="wg-light" />
    </div>
    {{!-- Sequencing Strategy --}}
    {{#with presenter.sequencingStrategyPresenter.template as |template| }}
      {{> (template) presenter=../presenter.sequencingStrategyPresenter }}
    {{/with}}
    {{!-- Spelling Strategy --}}
    {{#with presenter.spellingStrategyPresenter.template as |template| }}
      {{> (template) presenter=../presenter.spellingStrategyPresenter }}
    {{/with}}
  </div>
  {{/if}}
</div>