{{!-- Params:
presenter: WordGeneratorItemPresenter
--}}
<li class="word-generator-setting-entry word-generator-card">
  {{!-- Move controls --}}
  {{> "modules/word-generator/presentation/template/move-controls.hbs" listItemId=presenter.entity.id }}
  <div class="word-generator-flex flexcol grow">
    {{!-- Header Row --}}
    <div class="word-generator-flex column">
      <div class="word-generator-flex middle">
        {{!-- Delete Button --}}
        <button 
          class="word-generator-square-button danger"
          type="button" 
          id="{{presenter.entity.id}}-delete"
          data-id="{{presenter.entity.id}}"
          title="{{localize "wg.generator.delete"}}"
          >
          <i class="fas fa-trash"></i>
        </button>
        {{!-- Name Input --}}
        <input 
          class="word-generator-input-textfield"
          type="text"
          id="{{presenter.entity.id}}-name"
          data-id="{{presenter.entity.id}}"
          placeholder="{{localize "wg.generator.placeholder.name"}}"
          value="{{presenter.entity.name}}"
        />
      </div>
      <div class="word-generator-flex grow"></div>
    </div>
    {{!-- Sample Set --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-sampleSet">{{localize "wg.generator.sampleSet.field"}}</label>
      <i class="far fa-question-circle word-generator-info sample-set" id="{{presenter.entity.id}}"></i>
      <span>{{localize "wg.generator.sampleSize"}}: {{presenter.entity.sampleSet.length}}</span>
      <button 
        class="word-generator-square-button"
        type="button" 
        id="{{presenter.entity.id}}-edit-sample-set"
        data-id="{{presenter.entity.id}}"
        title="{{localize "wg.generator.sampleSet.edit"}}"
        >
        <i class="fas fa-edit"></i>
      </button>
    </div>
    {{#if presenter.isExpanded}}
    {{!-- targetLengthMin --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-targetLengthMin">{{localize "wg.generator.targetLength.min"}}</label>
      <i class="far fa-question-circle word-generator-info target-length" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-targetLengthMin" type="number" min="1" value="{{presenter.entity.targetLengthMin}}" />
    </div>
    {{!-- targetLengthMax --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-targetLengthMax">{{localize "wg.generator.targetLength.max"}}</label>
      <i class="far fa-question-circle word-generator-info target-length" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-targetLengthMax" type="number" min="1" value="{{presenter.entity.targetLengthMax}}" />
    </div>
    {{!-- entropy --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-entropy">{{localize "wg.generator.entropy.label"}}</label>
      <i class="far fa-question-circle word-generator-info entropy" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-entropy" type="number" min="0" max="1" value="{{presenter.entity.entropy}}" />
    </div>
    {{!-- entropyStart --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-entropyStart">{{localize "wg.generator.entropy.start.label"}}</label>
      <i class="far fa-question-circle word-generator-info entropy-start" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-entropyStart" type="number" min="0" max="1" value="{{presenter.entity.entropyStart}}" />
    </div>
    {{!-- entropyMiddle --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-entropyMiddle">{{localize "wg.generator.entropy.middle.label"}}</label>
      <i class="far fa-question-circle word-generator-info entropy-middle" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-entropyMiddle" type="number" min="0" max="1" value="{{presenter.entity.entropyMiddle}}" />
    </div>
    {{!-- entropyEnd --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-entropyEnd">{{localize "wg.generator.entropy.end.label"}}</label>
      <i class="far fa-question-circle word-generator-info entropy-end" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-entropyEnd" type="number" min="0" max="1" value="{{presenter.entity.entropyEnd}}" />
    </div>
    {{!-- endingPickMode --}}
    <div class="flexrow">
      <label for="{{presenter.entity.id}}-endingPickMode">{{localize "wg.generator.endingPickMode.label"}}</label>
      <i class="far fa-question-circle word-generator-info ending-pick-mode" id="{{presenter.entity.id}}"></i>
      <select id="{{presenter.entity.id}}-endingPickMode">
        <option value="0">{{localize "wg.generator.endingPickModes.none"}}</option>
        <option value="1">{{localize "wg.generator.endingPickModes.random"}}</option>
        <option value="2">{{localize "wg.generator.endingPickModes.followBranch"}}</option>
      </select>
    </div>
    {{!-- sequencingStrategy --}}
    <div class="word-generator-card">
      <div class="flexrow">
        <label for="{{presenter.entity.id}}-sequencingStrategy">{{localize "wg.generator.sequencingStrategy.label"}}</label>
        <i class="far fa-question-circle word-generator-info sequencing-strategy" id="{{presenter.entity.id}}"></i>
        <select id="{{presenter.entity.id}}-sequencingStrategy">
          {{#each presenter.sequencingStrategyOptions as |strategy index|}}
          <option value="{{strategy.value}}">{{strategy.localizedTitle}}</option>
          {{/each}}
        </select>
      </div>
      {{!-- Sequencing Settings --}}
      <ul id="{{presenter.entity.id}}-sequencing-settings" class="word-generator-unstyled-list">
        {{#each presenter.entity.sequencingStrategySettings as |setting index|}}
          {{> "modules/word-generator/presentation/template/setting-list-item.hbs" item=setting}}
        {{/each}}
      </ul>
    </div> 
    {{!-- spellingStrategy --}}
    <div class="word-generator-card">
      <div class="flexrow">
        <label for="{{presenter.entity.id}}-spellingStrategy">{{localize "wg.generator.spellingStrategy.label"}}</label>
        <i class="far fa-question-circle word-generator-info spelling-strategy" id="{{presenter.entity.id}}"></i>
        <select id="{{presenter.entity.id}}-spellingStrategy">
          {{#each presenter.spellingStrategyOptions as |strategy index|}}
          <option value="{{strategy.value}}">{{strategy.localizedTitle}}</option>
          {{/each}}
        </select>
      </div>
      {{!-- Spelling Settings --}}
      <ul id="{{presenter.entity.id}}-spelling-settings" class="word-generator-unstyled-list">
      {{#each presenter.entity.spellingStrategySettings as |setting index|}}
        {{> "modules/word-generator/presentation/template/setting-list-item.hbs" item=setting}}
      {{/each}}
      </ul>
    </div>
    {{!-- Seed --}}
    <div class="word-generator-flex row">
      <label for="{{presenter.entity.id}}-seed">{{localize "wg.generator.seed.label"}}</label>
      <i class="far fa-question-circle word-generator-info seed" id="{{presenter.entity.id}}"></i>
      <input id="{{presenter.entity.id}}-seed" type="text" value="{{presenter.entity.seed}}" />
    </div>
    {{/if}}
    {{!-- Collapse Button --}}
    <div class="word-generator-flex" style="max-height: 2rem">
      <a
        class="word-generator-flex grow center button"
        id="{{presenter.entity.id}}-collapse"
        >
        <span class="word-generator-flex center word-generator-square">
          {{#if presenter.isExpanded}}
          <i class="fas fa-angle-double-up"></i>
          {{else}}
          <i class="fas fa-angle-double-down"></i>
          {{/if}}
        </span>
      </a>
    </div>
  </div>
  {{!-- Generate --}}
  <div class="word-generator-flex">
    <button 
      class="word-generator-square-button grow"
      type="button" 
      id="{{presenter.entity.id}}-generate"
      data-id="{{presenter.entity.id}}"
      title="{{localize "wg.generator.generate"}}"
      >
      <i class="fas fa-pen-nib"></i>
    </button>
  </div>
</li>