<div class="wg-grid-2 gap-2 wg-card wg-margin-t-3 wg-margin-b-3 wg-padding-3 wg-padding-l-6">
{{!-- Params:
presenter: WgStrategyPresenter
--}}
  {{!-- Label --}}
  <div class="wg-flex middle">
    <label for="{{presenter.id}}" class="wg-flex grow">{{presenter.localizedLabel}}</label>
    <i class="far fa-question-circle wg-square wg-padding-6" id="{{presenter.id}}-info"></i>
  </div>
  {{!-- Strategy selector --}}
  <select id="{{presenter.id}}" class="wg-light">
    {{#each presenter.strategyOptions as |strategy index|}}
    <option value="{{strategy.value}}">{{strategy.localizedLabel}}</option>
    {{/each}}
  </select>
  {{!-- Strategy Settings --}}
  {{{presenter.strategySettingsPresenter.template}}}
</div>